@font-face {
  font-family: 'Bungee';
  src: url('utils/fonts/Bungee-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #242424;
  font-family: 'Bungee', sans-serif;
  color: white;
}
